#loader {
    width: 50%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 1px solid #bebebe;
    background-color: #fff;
    border-radius: 15px;
}

#steps {
    width: 80%;
    margin: 10px auto;
}

.step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.check {
    width: 30px;
    height: 30px;
    background: rgb(22, 193, 22);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto;
}

.number {
    width: 10%;
    text-align: center;
}

.heading {
    width: 80%;
}